:root {
    --bg-clr: hsl(185, 75%, 39%);
    --main-bg-clr: hsl(0, 0%, 96%);
    --head-txt-clr: hsl(229, 23%, 23%);
    --txt-clr: hsl(227, 10%, 46%);

    --border: 5px solid hsl(0, 0%, 96%);
    --line-clr: hsl(0, 0%, 59%);

    --link-clr: hsl(229, 23%, 23%);
}